{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022",
    "keepClassNames": true,
    "transform": {
    }
  },
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  }
}